<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true/>
        <key>UIAppFonts</key>
        <array>
            <string>dm_sans_regular.ttf</string>
            <string>dm_sans_medium.ttf</string>
            <string>dm_sans_semibold.ttf</string>
            <string>dm_sans_bold.ttf</string>
            <string>newsreader_regular.ttf</string>
            <string>newsreader_italic.ttf</string>
            <string>newsreader_medium.ttf</string>
            <string>newsreader_mediumitalic.ttf</string>
        </array>
    </dict>
</plist>
